# LRZ H100 Single Node Configuration
# 1 node with 4x H100 GPUs

name: lrz_h100

compute:
  num_nodes: 1
  gpus_per_node: 1
  time_limit: "15:00:00"

slurm:
  enabled: true
  partition: lrz-hgx-h100-94x4
  account: null  # Set if needed

container:
  image: /dss/dssmcmlfs01/pn57pi/pn57pi-dss-0001/containers/lam.sqsh
